@model IEnumerable<Labb_1___Entity_Framework.Models.LeaveApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Leave Type 
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Created At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveApplication in Model)
        {
            <tr>
                <td>
                    @leaveApplication.Employee.EmployeeName
                </td>
                <td>
                    @leaveApplication.LeaveType.LeaveTypeName
                </td>
                <td>
                    @leaveApplication.StartDate.ToShortDateString()
                </td>
                <td>
                    @leaveApplication.EndDate.ToShortDateString()
                </td>

                <td>
                    @leaveApplication.CreatedAt.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@leaveApplication.LeaveApplicationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@leaveApplication.LeaveApplicationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@leaveApplication.LeaveApplicationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>